PORT=3000

POSTGRES_USER=root
POSTGRES_PASSWORD=techchallenge
POSTGRES_DB=techchallenge
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

PROFESSOR_ACCESS_TOKEN=professor-dev-token-change-me
ALUNO_ACCESS_TOKEN=aluno-dev-token-change-me
